
<HTML>
<BODY bgcolor="cyan">
<form method="POST" action="">
    <center>
    <H1>Send Notifications </H1> <br>

        <div> Title <input type = "text" name= "title1" /> <br><br></div>
       <div style="margin-left: -56px;"> Description <textarea name = "desc1" > </textarea><br><br></div>
       <div style="margin-left: -16px;"> Sender <input type = "text" name = "sender" /> <br><br></div>
<p>Notification Added</p>





    <input type = "submit">
    </center>
</form>
</BODY>
</HTML>